<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/rank.css}" />
</head>
<body><div class="container">
    <div class="top-content">
        <h1>현재 투표 결과</h1>
        <p>CUKCAT 2.0 아이콘 및 이름 투표</p>
    </div>
    <div class="holder">
        <div class="center" style="width: 500px; height: 500px" onclick="">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
            <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #473C33;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #fff;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #FFAE94;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #5FA6D6;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #AECFE5;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #33444E;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #EDFFFB;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #A0DAB0;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: white;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>

    <div class="holder" style="background: #E8EDF0;">
        <div class="center" style="width: 500px; height: 500px">
            <img class='photo4' src="//upload.wikimedia.org/wikipedia/commons/thumb/5/50/Albert_Einstein_%28Nobel%29.png/100px-Albert_Einstein_%28Nobel%29.png"/>
        </div>
        <div style="text-align: center; padding-top: 100px"><font size="50px" style="font-weight: bold;">CUKBoard</font></div>
    </div>
</div>
</body>
</html>